<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QuanLyKhachSan.DAO.Properties.Settings.QuanLyKhachSanConnectionString"
            connectionString="Data Source=ACER\SQLEXPRESS;Initial Catalog=QuanLyKhachSan;Persist Security Info=True;User ID=Tomato2;Password=Kappa123"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyKhachSan.DAO.Properties.Settings.QuanLyKhachSanConnectionString1"
            connectionString="Data Source=ACER\SQLEXPRESS;Initial Catalog=QuanLyKhachSan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="QuanLyKhachSan.DAO.Properties.Settings.QuanLyKhachSanConnectionString2"
            connectionString="Data Source=TOMATO;Initial Catalog=QuanLyKhachSan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>